@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main{
    max-width: 600px;
    overflow: hidden;
  }
#app{
  background-color: #008037;
  font-family: 'Yomogi', cursive;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.video-container{
  height: 100%;
  z-index: 99;
}
.box{
  width: 100%;
  padding: 50px 0;
}
#topOzawa{
  width: 100%;
}

.problem{
  width: 80%;
  background-color: #fff;
  text-align: center;
  padding: 10px 50px 30px 50px;
}
.problem h1{
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
}
.problem p{
  margin: 10px auto;
}


.intro-container{
  font-family: 'Yomogi', cursive;
  background-color: #008037;
  padding-top: 1px;
}
.introduction{
  margin: 100px auto;
  text-align: center;
  font-size: 18px;
  color: white;
  line-height: 2;
}
.wantStuff{
  line-height: 1.8;
}


.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 10px 0;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
  font-family: 'Yomogi', cursive;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #008037;
	outline: none;
}

.button017 a {
  background: rgb(255, 255, 255);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px ;
  max-width: 220px;
  padding: 20px 30px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.button017 a:before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fafcfc #fafcfc #c7c7c7 #cbcbcb;
  box-shadow: -1px 1px 2px rgb(0 0 0 / 10%);
}

#kyouyuu{
  color: red;
}

.footer{
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 50px;
  padding-bottom: 20px;
}

#originalVideo{
  text-align: center;
}
#originalVideo video{
  max-width: 80%;
}